#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;

}

body,
html {
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/homepage_banner.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    /* text-align: relative; */
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

:root {
    font-size: 16px;
}

/* * {
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "sans-serif";
    color: #555;
  }
   */


/* main {
    min-width: 200px;
    max-width: 800px;
    margin: 80px auto;
    padding: 10px;
  }
  main .wrap {
    padding: 40px 20px;
    background-color: #fff;
  }
  main .title {
    font-size: 2em;
    text-align: center;
    margin: 20px auto 40px;
    text-transform: uppercase;
  } */

header nav {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 170px;
    /* transition: all 0.3s ease-in-out; */
    transform: translateX(-50%);
}

header nav ul li {
    transform: translateY(50px);
    opacity: 0;
}

header nav ul li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: #E84A5F;
}


.toggle-btn {
    display: block;
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.toggle-btn .bar {
    width: 30px;
    height: 2px;
    margin: 7px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

.toggle-btn .bar:nth-child(2) {
    width: 20px;
}

#toggle:checked~nav {
    opacity: 1;
    visibility: visible;
}

#toggle:checked~nav ul {
    top: 30vh;
}

#toggle:checked~nav ul li {
    transform: translateY(0px);
    opacity: 1;
}

/* #toggle:checked ~ nav ul li:nth-child(1) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
  }
  #toggle:checked ~ nav ul li:nth-child(2) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
  }
  #toggle:checked ~ nav ul li:nth-child(3) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
  }
  #toggle:checked ~ nav ul li:nth-child(4) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
  } */

#toggle:checked+label.toggle-btn .bar {
    background-color: red;
}

#toggle:checked+label.toggle-btn .bar:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
}

#toggle:checked+label.toggle-btn .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#toggle:checked+label.toggle-btn .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.padding-contain{
    padding: 50px 50px;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-41:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
  }